
.anchor_tag {
  color: white;
}

.card {
  background-color: #F5F5DC !important;
}

.btn-md {
  background-color: #F5F5DC !important;
  border-color: #F5F5DC !important;
  color: black !important;
}

.btn-md:hover {
  background-color: #babaa0 !important;
}

.cards-container {
    max-height: 400px;
    overflow-y: auto;
}


.cards-container {
    padding: 16px;
}

.hidden {
            display: none;
        }

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: rgba(255, 255, 255, .75);
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}



@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

.centered {
    margin: 0 auto;
    text-align: center;
}

#vegetarian, #meat, #name, #email, #password, #username{
    background-color: #F5F5DC;
    border: none;
}

.menu-line {
   background-color: #c4c4b0 !important;
   text-align: left;
   width: 500px;
   border: none !important;
}

.form-check {
    text-align: left !important;
}

.form-check-label {
    margin-left: 10px; /* Adjust the value as needed */
}
