<!DOCTYPE html>
{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Nové jídlo{% endblock %}
{% block head %}
<script>

        function toggleMeatField() {
            var vegetarianSelect = document.getElementById('vegetarian');
            var meatSelect = document.getElementById('meat');
            if (vegetarianSelect.value == 'Ano') {
                meatSelect.value = "";
                meatSelect.disabled = true;
            } else {
                meatSelect.value = "Kuřecí";
                meatSelect.disabled = false;
            }
        }

        window.onload = function() {
            toggleMeatField();
            document.getElementById('vegetarian').addEventListener('change', toggleMeatField);
        }
    </script>
{% endblock %}

{% block content %}
<main class="pb-auto">
    <h1 class="mb-5 mt-5">Přidej nové jídlo do seznamu</h1>
    <form method="post" style="width: 500px" class="centered">
        <div>{{ render_form(form) }}</div>
    </form>
    <div class="container">
            {% with messages = get_flashed_messages(category_filter=["success"]) %}
              {% if messages %}
                <div id="flash-popup" class="alert alert-success" role="alert">
                {% for message in messages %}
                  <div class="alert-heading">{{ message }}</div>
                {% endfor %}
            </div>
              {% endif %}
            {% endwith %}
        </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var flashPopup = document.getElementById('flash-popup');
            if (flashPopup) {
                setTimeout(function() {
                    flashPopup.classList.remove('show');
                    flashPopup.classList.add('fade');
                }, 6000);
            }
        });
    </script>
</main>
{% endblock %}