<!DOCTYPE html>
{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Kontakt{% endblock %}

{% block content %}
<main class="pb-auto">
    <h1 class="mb-5 mt-5">Kontakt</h1>
    <p style="font-size: 20px">Máš nápad na vylepšení?<br>Nějakou otázku?<br>Něco ti nefunguje?</p>
    <p class="pt-4" style="font-size: 30px">Neboj se a napiš mi!</p>
    <h2 class="pt-3"><a class="anchor_tag" href="mailto:info.demvis@gmail.com">info.demvis@gmail.com</a></h2>

</main>
{% endblock %}