<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Demvis{% endblock %}

{% block content %}
<main class="px-3">
    <h1 class="py-5 my-5">Když nevíš, co vařit.</h1>
    <p class="lead">Teď už bude Vaše domácí plánování obědů brnkačka!</p>
    <p class="lead pt-3">
        <a href="{{ url_for('generator') }}" class="btn btn-lg fw-bold">Jdu do toho</a>
    </p>
    <div class="row justify-content-around mt-5 pt-5">
        <div class="col-4"><strong>Aktivních jídel: {{ active_meals }}</strong></div>
        <div class="col-4"><strong>Čeká na schválení: {{ waiting_meals }}</strong></div>
    <div class="container pt-3">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="flash-popup" class="alert alert-info" role="alert">
            {% for message in messages %}
            <div class="alert-heading">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</main>
{% endblock %}