<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Menu{% endblock %}


{% block content %}
<main class="pb-auto">
    <h1 class="mb-5 mt-4">Vaše menu</h1>
    <ul class="list-group ps-5 ms-4">
        {% for meal in meal_list %}
        <li class="list-group-item menu-line">
            {{ meal.name }}
            <div>
                {% if meal.id not in favorite_meals %}
                <button type="button" class="favorite" data-url="/favorite" data-meal-id="{{ meal.id }}"
                        data-user-id="{{ current_user.id }}">🩶
                </button>
                {% else %}
                <button type="button" class="unfavorite" data-url="/unfavorite" data-meal-id="{{ meal.id }}"
                        data-user-id="{{ current_user.id }}">❤️
                </button>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.favorite, .unfavorite').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                var url = this.getAttribute('data-url');
                var mealId = this.getAttribute('data-meal-id');
                var userId = this.getAttribute('data-user-id');
                var formData = new FormData();
                formData.append('meal_id', mealId);
                formData.append('user_id', userId);
                ajaxCall(url, formData, this);
            });
        });
    });

    function ajaxCall(url, formData, button) {
        fetch(url, {
            method: 'POST',
            body: formData,
            credentials: 'same-origin'
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert(data.message);
                if (button.classList.contains('favorite')) {
                    button.innerHTML = '❤️'; // Změna ikony na ❤️
                    button.classList.remove('favorite');
                    button.classList.add('unfavorite');
                    button.setAttribute('data-url', '/unfavorite');
                } else if (button.classList.contains('unfavorite')) {
                    button.innerHTML = '🩶️'; // Změna ikony na 🩶
                    button.classList.remove('unfavorite');
                    button.classList.add('favorite');
                    button.setAttribute('data-url', '/favorite');
                }
            } else {
                alert('Failed to update favorites');
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}
